@model IEnumerable<ConsoleApp.Models.Activity>

<h1>Activity List</h1>

<a href="/Activity/Create">新增</a>

<form action="/Activity/Search" method="post">
    <input type="text" 
           id="Keyword" name="Keyword"
           value="@ViewBag.SearchParams.Keyword"
           placeholder="請輸入您要查詢的活動">
    <input type="submit" value="查詢" />
</form>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>PrgId</th>
            <th>PrgName</th>
            <th>Func</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.PrgId</td>
                    <td>@item.PrgName</td>
                    <td>
                        <a href="/Activity/Edit/@item.Id">Edit</a>
                    </td>
                    <td><a id="delBtn" href="/Activity/Delete/@item.Id">Delete</a></td>
                </tr>
            }
        }



    </tbody>
    <tfoot>

    </tfoot>
</table>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $('#delBtn').on('click', (e) => {
                return confirm('are you sure?')
            });
        });
    </script>
}
@{

}
